:root {
  --bg: #0f1115;
  --panel: #171a21;
  --border: #23262f;
  --text: #e6e6e6;
  --muted: #9aa0a6;
  --accent: #cfa935;
  --success: #3ddc97;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);
}

.app {
  display: grid;
  grid-template-columns: 240px 1fr;
  height: 100vh;
}
.sidebar {
  background: var(--panel);
  padding: 24px;
  border-right: 1px solid var(--border);
}
.sidebarLogo {
  position: relative;
  top: -72px;
  left: 130px;
}
.ethLogo {
  position: relative;
}
.sidebar h2 {
  margin: 0 0 24px;
  color: var(--accent);
}

.sidebar nav a {
  display: block;
  padding: 10px 12px;
  margin-bottom: 6px;
  color: var(--muted);
  cursor: pointer;
  border-radius: 6px;
}

.sidebar nav a:hover,
.sidebar nav a.active {
  background: #1f2430;
  color: var(--text);
}

.main {
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.status {
  font-size: 14px;
}

.status.online {
  color: var(--success);
}

.networkInfo {
  margin-top: 32px;
  padding: 24px;
  background: var(--bg);
  border-radius: 12px;
  border: 1px solid var(--border);
}
.networkInfo h2 {
  font-size: 24px;
  color: var(--accent);
  margin-bottom: 16px;
}
.infoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
}
.infoCard {
  background: var(--panel);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  padding: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.infoCard:hover {
  background: #1f2430;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

.infoCard h3 {
  margin: 0 0 8px;
  font-size: 16px;
  color: var(--muted);
}

.infoCard p {
  font-size: 28px;
  font-weight: 600;
  color: var(--text);
  margin-top: auto;          /* pushes paragraph to the bottom */
  text-align: left;          /* aligns text left */
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
}

.card {
  padding: 40px 24px;
  min-height: 200px;
  background: var(--panel);
  border-radius: 10px;
  border: 3px solid var(--border);

  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 12px rgba(0,0,0,0.5);
}
.card#upload:hover {
  background: #595521;
}
.card#retrieve:hover {
  background: #402159;
}
.card#settings:hover {
  background: #213c59;
}
.card h3 {
  margin: 0 0 8px;
  display: inline-block;
  background-color: var(--panel);
  color: var(--muted);
  padding: 10px 20px;
  border-radius: 9px;
  font-size: 30px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.card p {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
}
