:root {
  --bg: #0f1115;
  --panel: #171a21;
}

.label {
  display: flex;
  align-items: center;
  gap: 6px;
}


.help-icon {
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.help-popup {
  position: absolute;
  margin-top: 4px;
  padding: 6px 10px;
  background: #222;
  color: #fff;
  font-size: 18px;
  border-radius: 4px;
  min-width: 200px;
  max-width: 400px;
  width: auto;
  z-index: 100;
}

input {
  background-color: var(--bg);
  color: white;
  font-size: 1.5rem;
  border-color: var(--panel);
  border-radius: 3px;
  border: 2px;
  padding-top: 15px;
  padding-left: 1px;
  margin: 2px;
}
.textElement {
  margin: 25px;
  margin-left: 0px;
  margin-right: 0px;
}
.textElement#top {
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 25px;
}
.radioElement {
  margin: 25px;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  gap: 20px;
  align-items: center;
}
