:root {
  --panel: #171a21;
  --border: #23262f;
  --muted: #9aa0a6;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
}

.card {
  padding: 40px 24px;
  min-height: 200px;
  background: var(--panel);
  border-radius: 10px;
  border: 3px solid var(--border);

  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 12px rgba(0,0,0,0.5);
}
.card#upload:hover {
  background: #595521;
}
.card#retrieve:hover {
  background: #402159;
}
.card#settings:hover {
  background: #213c59;
}
.card h3 {
  margin: 0 0 8px;
  display: inline-block;
  background-color: var(--panel);
  color: var(--muted);
  padding: 10px 20px;
  border-radius: 9px;
  font-size: 30px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.card p {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
}
